<template>
    <v-container>
        <v-layout row>
            <v-flex xs12 class="text-xs-center display-1 font-weight-black">Adoção</v-flex>
        </v-layout>

        <v-form>
            <v-container>
                <v-row>

                    <v-col cols="12" sm="6" md="3">
                        <v-select
                            label="Raça"
                            :items="racas"
                            item-value="id"
                            item-text="nome"
                            v-model="filtro.raca_id"
                            @change="atualizarCards()"
                        ></v-select>
                    </v-col>

                    <v-col cols="12" sm="6" md="3">
                        <v-select
                            label="Sexo"
                            :items="sexo"
                            v-model="filtro.sexo"
                            @change="atualizarCards()"
                        ></v-select>
                    </v-col>

                    <v-col cols="12" sm="6" md="3">
                        <v-select
                            label="Espécie"
                            :items="especie"
                            v-model="filtro.especie"
                            @change="atualizarCards()"
                        ></v-select>
                    </v-col>

                    <v-col cols="12" sm="6" md="2">
                        <v-btn small color="primary" @click="limparFiltro()" style="margin-top:20px;">Limpar</v-btn>
                    </v-col>
                </v-row>

            </v-container>
        </v-form>
        
        <animais-card :filtro="filtro" :key="animalCardKey"></animais-card>
    </v-container>
</template>

<script>
import AnimaisCard from '@/components/AnimaisCard';
import AbrigoMonzaApi from '@/services/AbrigoMonzaAPI';

export default {
    name: 'Adocao',
    components: {
        AnimaisCard
    },
    data() {
        return {
            racas: [],
            sexo: [{'text': 'Macho', 'value': 'M'}, {'text': 'Fêmea', 'value': 'F'}],
            especie: [{'text': 'Cachorro', 'value': '1'}, {'text': 'Gato', 'value': '2'}],
            filtro: {},
            animalCardKey: Math.random(),
        }
    },
    created() {
        // Select de Raças
        AbrigoMonzaApi.getRacas(resposta => {
            this.racas = resposta.data
        })
    },
    methods:{
        // Ao mudar o filtro, muda a chave do componente dos cards, para forçar a renderização e aplicação do filtro
        atualizarCards(){
            this.animalCardKey = Math.random()
        },
        limparFiltro(){
            this.filtro = {};
        }
    },
};
</script>

<style scoped>
</style>