<template>
<span>
    <v-container>
        <v-layout row>
            <v-flex xs10 class="text-xs-center display-1 font-weight-black">Animais</v-flex>
            <v-flex xs2 class="text-xs-center display-1 font-weight-black">
            	<v-btn block color="success" to="/animais/form">Adicionar</v-btn>
            </v-flex>
        </v-layout>
        
    </v-container>
    
    <animais-card></animais-card>
</span>
</template>

<script>
import AnimaisCard from '@/components/AnimaisCard';

export default {
    name: 'Animais',
    components: {
        AnimaisCard
    },
};
</script>

<style scoped>
</style>