<template>
<span>
    <v-container>
        <v-row>
            <v-col cols="12">
                <h2>{{ animal.id == 0 ? 'Novo' : 'Editar' }} cadastro de animal</h2>
            </v-col>
        </v-row>

        <v-form>
            <v-row>
                <v-col cols="12" sm="6" md="3">
                    <v-text-field
                        label="Nome"
                        v-model="animal.nome"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="3">
                    <v-select
                        label="Raça"
                        :items="racas"
                        item-value="id"
                        item-text="nome"
                        v-model="animal.raca_id"
                    ></v-select>
                </v-col>

                <v-col cols="12" sm="6" md="3">
                    <v-select
                        label="Sexo"
                        :items="sexo"
                        v-model="animal.sexo"
                    ></v-select>
                </v-col>

                <v-col cols="12" sm="6" md="3">
                    <v-select
                        label="Espécie"
                        :items="especie"
                        v-model="animal.especie"
                    ></v-select>
                </v-col>

                <v-col cols="12" sm="6" md="3">
                    <v-text-field
                        label="Data de nascimento"
                        placeholder="dd/mm/aaaa"
                        v-mask="'##/##/####'"
                        v-model="animal.data_nascimento"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="3">
                    <v-text-field
                        label="Data falecimento"
                        placeholder="dd/mm/aaaa"
                        v-mask="'##/##/####'"
                        v-model="animal.data_falecimento"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" sm="6" md="3">
                    <v-btn block color="success" @click="salvar">Gravar</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>

    <v-snackbar color="red darken-2" v-model="snackbar">
        {{ snackMsg }}
        <v-btn text @click="snackbar=false">X</v-btn>
    </v-snackbar>
</span>
</template>

<script>
import AbrigoMonzaApi from '@/services/AbrigoMonzaAPI';
import {mask} from 'vue-the-mask'

export default {
    name: 'AnimaisForm',
    directives: {mask},
    data() {
        return {
            racas: [],
            sexo: [{'text': 'Macho', 'value': 'M'}, {'text': 'Fêmea', 'value': 'F'}],
            especie: [{'text': 'Cachorro', 'value': '1'}, {'text': 'Gato', 'value': '2'}],
            animal: {id: 0},

            // Dados para o snackbar
            snackbar: false,
            snackMsg: '',
        }
    },
    created() {
        // Quando vem do botão editar, pega o animal passado por parâmetro
        if(this.$route.params.animal != undefined)
            this.animal = this.$route.params.animal;

        // Select de Raças
        AbrigoMonzaApi.getRacas(resposta => {
            this.racas = resposta.data;
        })
    },
    methods:{
        salvar(){
            var retorno = validarForm(this.animal);

            if(retorno.valido){
                AbrigoMonzaApi.salvarAnimal(this.animal, resposta => {
                    this.$router.push('/animais');
                });
            } else{
                this.snackbar = true;
                this.snackMsg = retorno.mensagem;
            }
        },
    }
};

function validarForm(animal){
    var mensagem = '';

    if(animal.nome == undefined || animal.nome == ''){
        mensagem = 'Preencha o nome do animal';
        return {valido: false, mensagem: mensagem};
    }
    if(animal.raca_id == undefined || animal.raca_id == ''){
        mensagem = 'Preencha a raça do animal';
        return {valido: false, mensagem: mensagem};
    }
    if(animal.sexo == undefined || animal.sexo == ''){
        mensagem = 'Preencha o sexo do animal';
        return {valido: false, mensagem: mensagem};
    }
    if(animal.especie == undefined || animal.especie == ''){
        mensagem = 'Preencha a especie do animal';
        return {valido: false, mensagem: mensagem};
    }
    if(animal.data_nascimento == undefined || animal.data_nascimento == ''){
        mensagem = 'Preencha a data de nascimento do animal';
        return {valido: false, mensagem: mensagem};
    }
    return {valido: true};
}
</script>

<style scoped>
</style>