<template>
    <v-container>
        <v-row>
            <v-col cols="12">
            	<h2>Abrigo Monza - Desafio SimplesVet 2019</h2>
            	<h4 class="grey--text text--darken-1 mb-5">Por Thalita Santana</h4>

            	<p>Monza é dona de um abrigo de animais e precisa de um sistema para cadastrar os bichinhos =). Hoje o abrigo trabalha com cães e gatos de várias raças e precisa de algo simples que facilite o trabalho de catalogar e exibir os animais para adoção.</p>
            </v-col>
		</v-row>
    </v-container>
</template>

<script>

export default {
    name: 'Home',
};
</script>