<template>
    <v-container grid-list-lg>
        <v-layout row wrap>

            <v-flex xs12 sm6 md3 v-for="animal in animais" :key="animal.id"
                v-if="filtrar(animal, $route.name)">
                <v-card v-bind:class="{esmaecer : (animal.faleceu == 1)}">
                	<v-card-title>{{ animal.nome }}</v-card-title>
                    <v-card-text>
                        <div>
                            <ul>
                            	<li><b>Sexo:</b> {{ animal.sexo == 'F' ? 'Fêmea' : 'Macho' }}</li>
                            	<li><b>Idade:</b> {{ calcularIdade(animal.idade) }}</li>
                                <li v-if="['animais'].includes($route.name)"><b>Chip (ID):</b> {{ animal.id }}</li>
                            	<li v-if="['animais'].includes($route.name)"><b>Vivo:</b> {{ animal.faleceu == 0 ? 'Sim' : 'Nao' }}</li>
                            </ul>
                        </div>
                    </v-card-text>
                    <v-card-actions v-if="['animais'].includes($route.name)">
                        <v-btn outlined small block color="primary" :to="{ name: 'form-animais', params: { animal: animal } }">Editar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
import AbrigoMonzaApi from '@/services/AbrigoMonzaAPI';

export default {
    name: 'AnimaisCard',

    data() {
        return {
            animais: [],
        }
    },

    created() {
        AbrigoMonzaApi.getAnimais(resposta => {
            this.animais = resposta.data;
        })
    },

    props: ['filtro'],

    methods:{
        // Função para filtrar os cards dos animais, na tela de Adoção
        filtrar(animal, rota){
            if(['animais'].includes(rota)){
                return true;
            }
            else if(['adocao'].includes(rota)){
                if(animal.faleceu == 1)
                    return false;

                if((this.filtro.raca_id != undefined) && (this.filtro.raca_id != animal.raca_id))
                    return false;

                if((this.filtro.sexo != undefined) && (this.filtro.sexo != animal.sexo))
                    return false;

                if((this.filtro.especie != undefined) && (this.filtro.especie != animal.especie))
                    return false;
                    
                return true;
            }
        },
        // Função que recebe a idade em meses e retorna em anos e meses
        calcularIdade(idade){
            var anos = parseInt(idade / 12);
            var meses = idade % 12;
            var strIdade = '';

            if(anos > 0){
                if(anos == 1)
                    strIdade += '1 ano';
                else
                    strIdade += anos + ' anos';
            }

            if(meses > 0){
                if(anos > 0)
                    strIdade += ' e ';

                if(meses == 1)
                    strIdade += '1 mês';
                else
                    strIdade += meses + ' meses';
            }

            return strIdade;
        }
    },
};
</script>

<style scoped>
.esmaecer{
    background-color: rgba(1,1,1,0.04)
}
</style>