<template>
    <v-toolbar color="brown darken-4" dark max-height=65>
	    <v-btn class="hidden-sm-and-down mr-2" to="/">Início</v-btn>
	    <v-btn class="hidden-sm-and-down mr-2" to="/animais">Animais</v-btn>
	    <v-btn class="hidden-sm-and-down" to="/adocao">Adoção</v-btn>
	</v-toolbar>
</template>

<script>
</script>

<style scoped>
</style>